<html>
  <head>
    <style>
      .footer { background: rgb(34,159,195); background: linear-gradient(137deg,
      rgba(34,159,195,1) 0%, rgba(251,45,253,1) 100%); text-align: center;
      padding: 20px; border-radius: 10px; color: white; margin-top: 20px; gap:
      10px; display:grid;} .footer a { color: #212121; text-decoration: none;
      font-weight: 600; } .img-logo { object-fit: contain; margin: 0 auto;}
    </style>
  </head>
  <body>
    {{message}}
    <div class='footer'>
      <img src='cid:bmo-logo' class='img-logo' height='100px' />
      <div>
        <p>Este correo se envió usando BMO Petbot 😎</p>
        <p>BMO Petbot es una mascota que integra varios servicios e Inteligencia
          Artificial, puedes obtener mas información haciendo click
          <a href='#'>Aquí ⚡</a></p>
      </div>
    </div>
  </body>
</html>